body {
    background:rgb(255, 255, 255);
    margin: 0;
}
h1, h2, h4 {
    font-family: 'Reenie Beanie', cursive;
    color: black;
}

p {
    font-family: 'Palanquin', sans-serif;
    color: black;
    font-size: 24px;
}

#toppage {
    height: 100vh;
}

#navbar-all {
    color: black;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

#navbar {
    color: black;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    padding-right: 20px;
}

.navbar-item {
    color: black;
    margin: 20px;
    cursor: pointer;
    font-family: 'Reenie Beanie', cursive;
    text-decoration: none;
    font-size: 30px;
}

#darkmode {
    width: 150px;
    margin-right: 1px;
}

#logo {
    margin-left: 15px;
    color: black;
    margin: 20px;
    cursor: pointer;
    font-family: 'Reenie Beanie', cursive;
    text-decoration: none;
    font-size: 30px;
}

.navbar-item:hover {
    color: rgb(150, 97, 185);
}

#logo {
    display: flex;
    flex-direction: column;
    align-content: center;
}


.title {
    color: black;
    font-size: 45px;
    margin-top: 50px;
}

#starter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.centerstuff {
    display: flex;
    justify-content: center;
    align-content: center;
}

#score {
    font-size: 50px;
    margin: 1px;
}

#high {
    margin-top: 60px;
}

.button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#play {
    color: black;
    font-size: 40px;
}

#play:hover {
    color: rgb(150, 97, 185);
    cursor: pointer;
}

h4:hover {
    color: rgb(150, 97, 185);
    cursor: pointer;
}

.square {
    width: 50px;
    height: 50px;
    margin: 20px;
}

.square:hover {
    transform: scale(1.1);
    cursor: pointer;
}


#game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

#sq1 {
    background: pink;
}
#sq2 {
    background: rgb(130, 226, 130);
}
#sq3 {
    background: rgb(201, 165, 224);
}
#sq4 {
    background: rgb(157, 157, 228);
}

#sq1:active {
    background: rgb(241, 182, 193);
}
#sq2:active {
    background: rgb(126, 218, 126);
}
#sq3:active {
    background: rgb(189, 155, 211);
}
#sq4:active {
    background: rgb(147, 147, 214);
}

@keyframes highlight {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}
.glow {
    animation-name: highlight;
    animation-duration: 0.75s;
}

#reset:hover {
    color: rgb(150, 97, 185);
    cursor: pointer;
}

#howtoplay {
    background: rgb(189, 155, 211);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    margin-bottom: 0px;
    height: 100vh;
}

#howtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    /* margin-top: 80px; */
}

.inst {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
}

#back {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#back:hover {
    color: rgb(109, 109, 109);
    cursor: pointer;
}


/* dark mode stuff */
.dark {
    background:#313135;
}

.dark h1{
    color: #735290;
}
.dark h2 {
    color: #735290;
}
.dark h4 {
    color: #735290;
}
.dark .navbar-item {
    color: #735290;
}
.dark .navbar-item:hover {
    color: #98A886;
}

.dark #play{
    color: #98A886;

}
.dark #title {
    color: #735290;
}

.dark p {
    color: #735290;
}

.dark #logo {
    color: #98A886;
}

.dark #play:hover {
    color: #735290;
}
.dark #reset:hover {
    color: #98A886;
}

.dark #howtoplay {
    background: gray;
}

.dark #sq1 {
    background: #C4A69D;
}
.dark #sq2 {
    background: #98A886;
}
.dark #sq3 {
    background: #735290;
}
.dark #sq4 {
    background: #465C69;
}

.dark #sq1:active {
    background: #c3aba3;
}
.dark #sq2:active {
    background: #92a082;
}
.dark #sq3:active {
    background: #7b5a97;
}
.dark #sq4:active {
    background: #4f6674;
}

.dark #howtoplay {
    background: #344a57;
}

.dark p {
    color: #C4A69D;
}

.dark #howtitle {
    color: #C4A69D;
}

.dark #back {
    /* color: #C4A69D; */
    color: #98A886;
}

.dark #back:hover {
    color: #735290;
}





